*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  /* outline: 1px solid rgb(120, 4, 4); */
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  background-color: #e4ebf5;
  /* background-color: #091921; */
  font-family: 'Noto Sans TC', sans-serif;
}

:root {
  /* --primary-light: #8abdff; */
  /* --primary: #6d5dfc; */
  /* --primary-dark: #5b0eeb; */

  --white: #FFFFFF;
  --greyLight-1: #E4EBF5;
  --greyLight-2: #c8d0e7;
  --greyLight-3: #bec8e4;
  --greyDark: #9baacf;
  --darkgray: #282828;

}

/* 陰影效果------------------------- */
.effect {
  background-color: var(--greyLight-1);
  box-shadow:
    .8rem .8rem 1.4rem var(--greyLight-2),
    -.2rem -.2rem 1.8rem var(--white);

  /* box-shadow:
    -15px -15px 15px rgba(255, 255, 255, 0.05),
    inset -15px -15px 15px rgba(255, 255, 255, 0.05),
    15px 15px 15px rgba(0, 0, 0, 0.3),
    inset 15px 15px 15px rgba(0, 0, 0, 0.3); */
}

/* 按下去的效果----------------------- */
/* $shadow: .3rem .3rem .6rem var(--greyLight-2), 
-.2rem -.2rem .5rem var(--white);
$inner-shadow: inset .2rem .2rem .5rem var(--greyLight-2), 
inset -.2rem -.2rem .5rem var(--white); */

#container {
  width: 1652px;
  height: 768px;
  /* border: 1px solid #000; */
  /* background-color: var(--greyLight-1); */
  border-radius: 40px;
  /* 置中--------------------- */
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* filter: drop-shadow(20px 20px 20px #b6b6b6); */

}

#records {
  width: 630px;
  height: 560px;
  /* background-color: var(--greyLight-1); */
  /* background: linear-gradient(198deg, rgba(220, 221, 221, 1) 0%, rgba(199, 199, 199, 1) 100%); */
  border-radius: 40px;
  /* position: relative; */
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


#vinyl {
  width: 500px;
  height: 500px;
  background-image: url("../images/orange_vinyl.png");
  background-size: cover;
  background-repeat: no-repeat;
  /* fixed 定位 置中--------------------- */
  position: absolute;
  top: 135px;
  left: 578px;
  /* transform: translate(-50%, -50%); */
  /* top: calc(384px - 250px);
  left: calc(512px - 250px); */
  /* filter: drop-shadow(-5px 8px 8px #746965); */
}

/* 
#shadow {
  width: 500px;
  height: 500px;
  background-color: rgba(199, 199, 199, 0);
  border-radius: 50%;
  fixed 定位 置中---------------------
  position: absolute;
  top: calc(384px - 250px);
  left: calc(512px - 250px);
  filter: drop-shadow(-5px 8px 8px #746965);
} */

.rotate {
  animation-name: rotate-keyframe;
  /* 套用的 keyframe */
  animation-duration: 60s;
  /* 動畫持續時間 */
  animation-iteration-count: infinite;
  /* 動畫播放次數 */
  animation-timing-function: linear;
  /* 影片加速速率 */
}

@keyframes rotate-keyframe {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

#clock {
  width: 500px;
  height: 500px;
  /* background: rgba(135, 47, 47, 0.2); */
  margin: auto;
  /* border-radius: 50%; */
  position: absolute;
  top: 386px;
  left: 576px;
  transform: translate(0%, -50%);
  /* 加減乘除前後 記得要空白 */
}

#hour {
  width: 20%;
  height: 10px;
  background-color: rgb(139, 139, 139);
  position: absolute;
  top: calc(50% - 5px);
  left: 30%;
  border-radius: 5px;
  transform-origin: right center;
}

/* #minute {
  width: 40%;
  height: 10px;
  background-color: blueviolet;
  position: absolute;
  top: calc(50% - 5px);
  left: 10%;
  border-radius: 5px;
  transform-origin: right center;
} */
#minute {
  width: 500px;
  height: 500px;
  position: absolute;
  /* left: 100px;
  top: 100px; */
  /* transform: translate(-50%, -50%); */
  /* border: 1px solid gray; */
  background-image: url(../images/needle_500x500.svg);
  background-repeat: no-repeat;
  background-size: cover;
  /* transform-origin: 0px 0px; */

}

#second {
  width: 45%;
  height: 6px;
  background-color: rgb(254, 212, 97);
  position: absolute;
  top: calc(50% - 3px);
  left: 5%;
  border-radius: 3px;
  transform-origin: right center;
}




#spotify {
  border-radius: 32px;
  width: 320px;
  height: 352px;
  position: absolute;
  top: 312px;
  left: 110px;
  background-color: var(--greyLight-1);
  /* filter: invert(100%) brightness(1); */

}


/* -----------按鈕----------- */

.material-symbols-rounded {
  scale: 200%;
  color: var(--greyDark);
  position: absolute;
  top: 30px;
  left: 29px;
  font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}




.btn {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  cursor: pointer;
  user-select: none;
  /* standard syntax */
  -webkit-user-select: none;
  /* for Chrome、Safari */
  -moz-user-select: none;
  /* for Mozilla、Firefox */
}

.btn:active {
  box-shadow:
    inset .2rem .2rem .5rem var(--greyLight-2),
    inset -.2rem -.2rem .5rem var(--white);

}

#dayOrNight {
  position: absolute;
  top: 105px;
  left: 110px;
}

#cool {
  position: absolute;
  top: 105px;
  left: 228px;
}

#like {
  position: absolute;
  top: 105px;
  left: 350px;
}

#niceday {
  width: 320px;
  height: 50px;
  border-radius: 32px;
  position: absolute;
  top: 220px;
  left: 110px;
}

#niceday marquee {
  /* background-color: lightblue; */
  width: 280px;
  height: 40px;
  margin: 5px 20px 5px 20px;
  line-height: 40px;
  font-size: 24px;
  color: var(--greyDark);
}


/* to do list----------------------------------- */

#todolist {
  width: 320px;
  height: 300px;
  border-radius: 32px;
  position: absolute;
  top: 105px;
  left: 1220px;
  padding: 20px;
  line-height: 30px;
}

#listTitle {
  position: relative;
  display: flex;
  align-items: center;
}

#titleInput {
  background-color: #e4ebf5;
  width: 280px;
  height: 50px;
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  font-weight: 800;
  border: 1px solid transparent;
  border-radius: 9px;
  color: var(--greyDark);
  padding: 9px 18px;
  outline: var(--greyLight-3);
}

#titleInput::placeholder {
  color: var(--greyDark);
}


#text {
  font-size: 1rem;
  width: 87%;
  height: 30px;
  border: none;
  outline: none;
  background:var(--greyLight-2);
  margin-right: 4px;
}

#text:focus {
  background: var(--greyLight-2);
}

#addBtn,
.del {
  width: 16px;
  height: 16px;
  border: none;
  outline: none;
  background: var(--greyLight-2);
  border-radius: 50%;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  scale: 1.2;
  margin-left: 8px;
}

.del{
  line-height: 16px; /* 保持高度和寬度相等 */
}

#addBtn:active,
.del:active {
  box-shadow:
    inset .2rem .2rem .5rem var(--greyLight-2),
    inset -.2rem -.2rem .5rem var(--white);
}

/* List title pencil */
.fa-pencil-alt {
  font-size: 18px;
  border-radius: 50%;
  position: absolute;
  right: 24px;
  pointer-events: none;
  color: #a8baf0;
}

#todolist ul {
  list-style: none;
  color: var(--greyDark);
  font-size: 16px;
  list-style: none;
}
#todolist li{
  line-height: 30px;
}


/* vinyl----------------------------- */

#vinylBlock {
  width: 320px;
  height: 200px;
  border-radius: 32px;
  position: absolute;
  top: 460px;
  left: 1220px;
}

#vinylBlock img{
  width: 200px;
  
}

#vinylbox{
position: absolute;
}

#secondvinyl{
position: absolute;
left: 20px;
filter: drop-shadow(5px 5px 3px var(--greyLight-3));
transition: left 0.5s ease, transform 0.5s ease-in-out; 
/* 添加過渡效果，包括 transform */
  transform-origin: center; 
/* 設定旋轉的中心點 */
}

#vinylBlock:hover #secondvinyl {
  left: 120px;
  transform: rotate(45deg);
}


