*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  /* outline: 1px solid rgb(120, 4, 4); */
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
}

#container {
  width: 1024px;
  height: 768px;
  /* border: 1px solid #000; */
  /* 置中--------------------- */
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* ------------------------- */

}

#records {
  width: 630px;
  height: 560px;
  background: linear-gradient(198deg, rgba(220, 221, 221, 1) 0%, rgba(199, 199, 199, 1) 100%);
  border-radius: 16px;
  position: absolute;
  top: calc(384px - 280px);
  left: calc(512px - 315px);
}

#vinyl {
  width: 500px;
  height: 500px;
  background-image: url("../images/orange_vinyl.png");
  background-size: cover;
  background-repeat: no-repeat;
  /* fixed 定位 置中--------------------- */
  position: absolute;
  top: calc(384px - 250px);
  left: calc(512px - 250px);
  /* filter: drop-shadow(-5px 8px 8px #746965); */
}

#shadow {
  width: 500px;
  height: 500px;
  background-color: rgba(199, 199, 199, 0);
  border-radius: 50%;
  /* fixed 定位 置中--------------------- */
  position: absolute;
  /* top: calc(384px - 250px);
  left: calc(512px - 250px); */
  filter: drop-shadow(-5px 8px 8px #746965);
}

.rotate {
  animation-name: rotate-keyframe;
  /* 套用的 keyframe */
  animation-duration: 60s;
  /* 動畫持續時間 */
  animation-iteration-count: infinite;
  /* 動畫播放次數 */
  animation-timing-function: linear;
  /* 影片加速速率 */
}

@keyframes rotate-keyframe {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

#clock {
  width: 500px;
  height: 500px;
  /* background: rgba(235, 235, 235, 0.2); */
  margin: auto;
  /* border-radius: 50%; */
  position: relative;
  top: 50%;
  transform: translate(0%, -50%);
  /* 加減乘除前後 記得要空白 */
}

#hour {
  width: 20%;
  height: 10px;
  background-color: rgb(139, 139, 139);
  position: absolute;
  top: calc(50% - 5px);
  left: 30%;
  border-radius: 5px;
  transform-origin: right center;
}

/* #minute {
  width: 40%;
  height: 10px;
  background-color: blueviolet;
  position: absolute;
  top: calc(50% - 5px);
  left: 10%;
  border-radius: 5px;
  transform-origin: right center;
} */
#minute {
  width: 500px;
  height: 500px;
  position: absolute;
  /* left: 100px;
  top: 100px; */
  /* transform: translate(-50%, -50%); */
  /* border: 1px solid gray; */
  background-image: url(../images/needle_500x500.svg);
  background-repeat: no-repeat;
  background-size: cover;
  /* transform-origin: 0px 0px; */

}

#second {
  width: 45%;
  height: 6px;
  background-color: rgb(254, 212, 97);
  position: absolute;
  top: calc(50% - 3px);
  left: 5%;
  border-radius: 3px;
  transform-origin: right center;
}

#text {
  color: black;
  font-size: 3rem;
  text-align: center;
  top: -60%;
  position: absolute;
  width: 100%;
}